.link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  .line {
    display: block;
    height: 1px;
    margin-left: 0;
    transition: 250ms ease-out;
    width: 100%;
  }
}

.default {
  &:hover {
    .line {
      margin-left: 100%;
      width: 0;
    }
  }
}

.alt {
  .line {
    margin-left: 100%;
    width: 0;
  }
  &:hover {
    .line {
      margin-left: 0;
      width: 100%;
    }
  }
}

.noline {
  .line {
    width: 0;
  }
}
