.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.border {
  border: 1px solid black;
}

.round {
  border-radius: 100%;
}
