@import "../../mixins.scss";

.altArrow {
  .altArrowIcon {
    background-image: url("../../assets/arrow-right-alt.svg");
  }
  &:hover {
    .altArrowIcon {
      background-image: url("../../assets/arrow-right.svg");
    }
  }
}

.homePage {
  align-items: center;
  color: var(--our-blue);
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  max-width: 100%;
  overflow: hidden;
  padding: 30px 10px 200px;
  position: relative;
  text-align: center;
  width: 100%;

  @include medium-devices {
    font-size: 4rem;
  }

  @include large-devices {
    font-size: 5rem;
  }

  .inputWrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .input {
    color: var(--our-blue);
    font-size: 56px;
    text-align: center;
    width: 100%;
  }

  .searchIcon {
    cursor: pointer;
    height: 2.7rem;
    position: absolute;
    width: 2.7rem;

    @include medium-devices {
      height: 3.7rem;
      width: 3.7rem;
    }

    @include large-devices {
      height: 4rem;
      width: 4rem;
    }
  }

  .inputChild {
    transition: 200ms;
  }

  .hide {
    opacity: 0;
    z-index: -1;
  }

  .noWordFound {
    display: none;
    font-size: 3rem;
  }

  .wordList:empty + .newWord + .noWordFound {
    display: block;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
  }

  .newWord {
    color: var(--our-blue);
    cursor: pointer;
    font-size: inherit;
    margin-bottom: 20px;
    opacity: 0.3;
    text-decoration: none;
    transition: opacity 200ms;
    &:hover {
      opacity: 1;
    }
  }
}

.wordLink {
  color: var(--our-blue);
  display: block;

  &:visited {
    color: var(--our-blue);
  }
}

:global(.page-enter) .homePage {
  opacity: 0;
  transform: scale(1.1);
}

:global(.page-enter-active) .homePage {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

:global(.page-exit) .homePage {
  opacity: 1;
  transform: scale(1);
}

:global(.page-exit-active) .homePage {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
