.altArrow {
  .altArrowIcon {
    background-image: url("../../assets/arrow-right-alt.svg");
  }
  &:hover {
    .altArrowIcon {
      background-image: url("../../assets/arrow-right.svg");
    }
  }
}

.entering {
  opacity: 1;
  transition: opacity 200ms;
}
.entered {
  opacity: 1;
  transition: opacity 200ms;
}
.exiting {
  opacity: 0;
  transition: opacity 200ms;
}
.exited {
  opacity: 0;
  transition: opacity 200ms;
}
