.cursor {
  animation-name: cursor_blink;
  animation-timing-function: step-end;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: inherit;
  font-weight: 100;
}

@keyframes cursor_blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
